{# {{ dump(app.user) }} #}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
	<div class="container">
		<a class="navbar-brand" href="{{path('app_front')}}">DealGames</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-lg-between" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Consoles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Jeux</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Accessoires</a>
				</li>
			</ul>
			<hr class="d-lg-none">
			<ul class="navbar-nav">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fa-solid fa-circle-user"></i>
							{{ app.user.firstname }}
							{{ app.user.lastname }}
						</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">
							<i class="fa-solid fa-circle-user"></i>
							Se connecter / Créer un compte
						</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="btn btn-secondary" href="{{ app.user ? path('app_item_new') : path('app_login') }}" role="button">
						<i class="fa-solid fa-plus"></i>
						Déposer une Annonce
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
