<div class="row">
	<div class="col-12 col-md-9 col-lg-6 mx-auto p-5 shadow-custom rounded-3">
		<h1 class="mb-4">{{ item_title_form|default('Formulaire') }}</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<span class="d-flex justify-content-center">
		<button class="btn btn-primary btn-lg mt-4">{{ button_label|default('Sauvegarder') }}</button>		
		</span>
		{{ form_end(form) }}
		{# <a href="{{ path('app_item_index') }}">back to list</a> #}
	</div>
</div>
