{% extends 'base.html.twig' %}

{% block title %}Item
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-7">
        
        </div>
		<div class="col-5">
        
        </div>
	</div>
	<h1>{{item.title}}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ item.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ item.title }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ item.description }}</td>
			</tr>
			<tr>
				<th>Photo</th>
				<td>{{ item.photo }}</td>
			</tr>
			<tr>
				<th>Published</th>
				<td>{{ item.published ? item.published|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_item_index') }}">back to list</a>

	<a href="{{ path('app_item_edit', {'id': item.id}) }}">edit</a>

	{{ include('item/_delete_form.html.twig') }}
{% endblock %}
